Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubernetes-cross, pull-kubernetes-godeps

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190110-c23317e88
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - name: main
      command:
      - runner.sh
      image: gcr.io/k8s-testimages/kubekins-e2e:v20190110-49573aea5-master
      args:
      - make
      - verify
      securityContext:
  ...

Test Strict CodecFactory option when enabled/disabled
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/codec_test.go
Due: pull-kubernetes-godeps

Fix volume available wait
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Due: pull-kubernetes-godeps

Fix typo in SubjectAccessReview description
  staging/src/k8s.io/api/authorization/v1/types.go
Due: pull-kubernetes-godeps

change aws encryptedCheck to exponential backoff
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Due: pull-kubernetes-godeps

cherry pick of 017f57a, had to do a very simple merge of BUILD
  pkg/proxy/BUILD
  pkg/proxy/endpoints.go
  pkg/proxy/iptables/proxier.go
  pkg/proxy/ipvs/proxier.go
  pkg/proxy/metrics/metrics.go
  pkg/proxy/service.go
  pkg/proxy/winkernel/metrics.go
  pkg/proxy/winkernel/proxier.go
Due: none

Fix memory leak from not closing hcs container handles
  pkg/kubelet/stats/cri_stats_provider_windows.go
Due: none

github size munger: don't ignore Godeps/ and vendor/
  .generated_files
Due: none

Fix error handling for loading initCfg in kubeadm
  cmd/kubeadm/app/cmd/upgrade/common.go
Due: none

Wait when HNS network not found
  pkg/proxy/winkernel/hnsV1.go
  pkg/proxy/winkernel/hnsV2.go
  pkg/proxy/winkernel/proxier.go
Due: none

labelsMatch method should return false if there is no common label
  staging/src/k8s.io/apiserver/pkg/admission/metrics/BUILD
  staging/src/k8s.io/apiserver/pkg/admission/metrics/testutil_test.go
Due: pull-kubernetes-godeps

kubeadm:fix typo in controlplane.go
  cmd/kubeadm/app/cmd/phases/upgrade/node/controlplane.go
Due: none

Update cmd.go
  pkg/kubectl/cmd/cmd.go
Due: none

Use go standard library for common bit operations
  pkg/kubelet/cm/topologymanager/socketmask/socketmask.go
  pkg/kubelet/cm/topologymanager/socketmask/socketmask_test.go
Due: none

Remove deprecated flag --conntrack-max from kube-proxy
  cmd/kube-proxy/app/server.go
  cmd/kube-proxy/app/server_test.go
  cmd/kubeadm/app/apis/kubeadm/validation/validation_test.go
  cmd/kubeadm/app/componentconfigs/validation_test.go
  cmd/kubeadm/app/phases/addons/proxy/proxy_test.go
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/internal.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/internal_non_linux.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/v1beta1.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/v1beta1_non_linux.yaml
  cmd/kubeadm/app/util/config/testdata/defaulting/controlplane/defaulted.yaml
  cmd/kubeadm/app/util/config/testdata/defaulting/controlplane/defaulted_non_linux.yaml
  pkg/proxy/apis/config/types.go
  pkg/proxy/apis/config/v1alpha1/defaults.go
  pkg/proxy/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/proxy/apis/config/validation/validation.go
  pkg/proxy/apis/config/validation/validation_test.go
  pkg/proxy/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/types.go
  staging/src/k8s.io/kube-proxy/config/v1alpha1/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

Use Mutex for synchronization in imageCache
  pkg/kubelet/images/image_gc_manager.go
Due: none

Run roundtrip tests as subtests
  staging/src/k8s.io/api/roundtrip_test.go
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/roundtrip.go
Due: pull-kubernetes-godeps

Add compatibility tests for json/proto/yaml
  staging/src/k8s.io/api/roundtrip_test.go
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/compatibility.go
Due: pull-kubernetes-godeps

Set GVK when decoding protobuf
  pkg/api/testing/serialization_proto_test.go
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/roundtrip.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/protobuf/protobuf.go
  staging/src/k8s.io/apimachinery/pkg/test/runtime_serializer_protobuf_protobuf_test.go
Due: pull-kubernetes-godeps

Don't fuzz deprecated initializers field
  staging/src/k8s.io/apimachinery/pkg/apis/meta/fuzzer/fuzzer.go
Due: pull-kubernetes-godeps

Remove broken round trip test
  staging/src/k8s.io/api/roundtrip_test.go
Due: pull-kubernetes-godeps

Generate bazel
  staging/src/k8s.io/api/BUILD
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/BUILD
Due: pull-kubernetes-godeps

Update expected ListOptions
  staging/src/k8s.io/api/testdata/v1.14.0/core.v1.ListOptions.after_roundtrip.pb
Due: pull-kubernetes-godeps

Update expected AdmissionReview
  staging/src/k8s.io/api/testdata/v1.14.0/admission.k8s.io.v1beta1.AdmissionReview.after_roundtrip.json
  staging/src/k8s.io/api/testdata/v1.14.0/admission.k8s.io.v1beta1.AdmissionReview.after_roundtrip.pb
  staging/src/k8s.io/api/testdata/v1.14.0/admission.k8s.io.v1beta1.AdmissionReview.after_roundtrip.yaml
Due: pull-kubernetes-godeps

Translate Unstructured objects to concrete instances
  staging/src/k8s.io/client-go/testing/fixture.go
  staging/src/k8s.io/client-go/testing/fixture_test.go
Due: pull-kubernetes-godeps

Impelement glog_flags that parses glog flags from shell argument
  hack/lib/golang.sh
  test/integration/scheduler_perf/test-performance.sh
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Fix golint issues in pkg/kubectl/cmd/annotate
  hack/.golint_failures
  pkg/kubectl/cmd/annotate/annotate.go
  pkg/kubectl/cmd/annotate/annotate_test.go
Due: none

74900, kubectl logs selector supports tail=-1
  pkg/kubectl/cmd/logs/logs.go
  pkg/kubectl/cmd/logs/logs_test.go
Due: none

add labels for leader lock resources
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/endpointslock.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
Due: pull-kubernetes-godeps

Delete pods from unschedulable queue when add operation passes
  pkg/scheduler/internal/queue/scheduling_queue.go
Due: none

Protect against panic in getItemsPtr
  staging/src/k8s.io/apimachinery/pkg/api/meta/help.go
Due: pull-kubernetes-godeps

fix comment and test
  staging/src/k8s.io/client-go/tools/leaderelection/leaderelection_test.go
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
Due: pull-kubernetes-godeps

clean code
  staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
Due: pull-kubernetes-godeps

kubelet: add sjenning to kubelet subdirectory owners files
  pkg/kubelet/cadvisor/OWNERS
  pkg/kubelet/cm/OWNERS
  pkg/kubelet/eviction/OWNERS
  pkg/kubelet/images/OWNERS
  pkg/kubelet/metrics/OWNERS
  pkg/kubelet/preemption/OWNERS
Due: none

Remove dead codes
  pkg/volume/csi/csi_plugin.go
Due: none

Add helper script to regenerate API compatibility data
  hack/make-rules/update.sh
  hack/update-generated-api-compatibility-data.sh
Due: none

check if there are differences in the ownerRefs, finalizers, and DeletionTimestamp; if not, ignore the update.
  pkg/controller/garbagecollector/graph_builder.go
Due: none

Path conditions:
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
