Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubernetes-cross, pull-kubernetes-godeps

Path conditions:
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$

do not delete pods whose deletiontimestamp != nil
  pkg/controller/daemon/daemon_controller.go
Due: none

hack/make-rules/test.sh: run all staging unit tests
  hack/make-rules/test.sh
Due: none

Correct a typo
  pkg/volume/cinder/cinder.go
Due: none

e2e: Implement Skippable instead of skipping in Setup
  test/e2e/upgrades/storage/persistent_volumes.go
Due: none

add the resource field
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
Due: pull-kubernetes-godeps

Fix failure in ciphersuites_flag_test
  staging/src/k8s.io/component-base/cli/flag/ciphersuites_flag.go
Due: pull-kubernetes-godeps

Fix spurious .sock files running envelope unit tests
  staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/grpc_service_unix_test.go
Due: pull-kubernetes-godeps

Improve TLS unit test reporting in bazel
  staging/src/k8s.io/component-base/cli/flag/ciphersuites_flag_test.go
Due: pull-kubernetes-godeps

Adding metrics to nfs driver
  pkg/volume/nfs/nfs.go
Due: none

test images: Refactors agnhost image
  test/images/agnhost/BUILD
  test/images/agnhost/agnhost.go
  test/images/agnhost/dns/BUILD
  test/images/agnhost/dns/common.go
  test/images/agnhost/dns/dns.go
  test/images/agnhost/dns/dns_windows.go
  test/images/agnhost/pause/BUILD
  test/images/agnhost/pause/pause.go
Due: none

Don't dereference nil pointer in conflicts
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/conflict.go
Due: pull-kubernetes-godeps

Updates agnhost image version in documentation
  test/images/agnhost/README.md
Due: none

Updates agnhost README and Dockerfile files
  test/images/agnhost/Dockerfile
  test/images/agnhost/README.md
Due: none

tests: Sets MaximumNArgs for agnhost subcommands to 0
  test/images/agnhost/logs-generator/logs_generator.go
  test/images/agnhost/no-snat-test-proxy/main.go
  test/images/agnhost/no-snat-test/main.go
Due: none

tests: Replaces images used with agnhost (part 1)
  test/e2e/auth/node_authn.go
  test/e2e/common/container_probe.go
  test/e2e/common/lifecycle_hook.go
  test/e2e/common/util.go
  test/e2e/framework/pod/resource.go
  test/e2e/instrumentation/logging/utils/logging_pod.go
  test/e2e/kubectl/portforward.go
  test/e2e/network/no_snat.go
  test/e2e/storage/empty_dir_wrapper.go
  test/utils/image/manifest.go
Due: none

tests: Combine Linux / Windows image pulling tests
  test/e2e/common/runtime.go
Due: none

ipvs: fix string check for IPVS protocol during graceful termination
  pkg/proxy/ipvs/graceful_termination.go
Due: none

Enable cadvisor ProcessMetrics collecting.
  pkg/kubelet/server/server.go
Due: none

kubectl config set hangs on some invalid property names #415
  pkg/kubectl/cmd/config/navigation_step_parser.go
  pkg/kubectl/cmd/config/navigation_step_parser_test.go
Due: none

rm unnecessary fs.Manager
  pkg/kubelet/cm/container_manager_linux.go
Due: none

Updated code with gofmt
  pkg/kubectl/cmd/apply/apply.go
Due: none

Clean up node-problem-detector configuration for GCI
  cluster/gce/gci/configure-helper.sh
Due: none

Remove returned value of func handleCreateEvent
  pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher.go
Due: none

improvement: parallel WaitForAttachAndMount and createPodSandbox to reduce pod startup time
  pkg/kubelet/container/runtime.go
  pkg/kubelet/container/sync_result.go
  pkg/kubelet/container/testing/fake_runtime.go
  pkg/kubelet/container/testing/runtime_mock.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  pkg/kubelet/pod_workers.go
Due: none

Use print() function in both Python 2 and Python 3
  hack/update_owners.py
Due: none

Modify klog Warning 'The resourceVersion for the provided watch is too old' to Info.
  staging/src/k8s.io/client-go/tools/cache/reflector.go
Due: pull-kubernetes-godeps

Update node image names to use ID as fallback
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
Due: none

WIP: Centralizes images into agnhost
  test/images/BUILD
  test/images/agnhost/BUILD
  test/images/agnhost/Dockerfile
  test/images/agnhost/VERSION
  test/images/agnhost/agnhost.go
  test/images/agnhost/serve-hostname/BUILD
  test/images/agnhost/serve-hostname/serve_hostname.go
  test/images/serve-hostname/BASEIMAGE
  test/images/serve-hostname/Dockerfile
  test/images/serve-hostname/Makefile
  test/images/serve-hostname/README.md
  test/images/serve-hostname/VERSION
Due: pull-kubernetes-cross

tests: Replaces images used with agnhost (part 2)
  test/e2e/apimachinery/webhook.go
  test/e2e/common/kubelet_etc_hosts.go
  test/e2e/common/lifecycle_hook.go
  test/e2e/common/util.go
  test/e2e/framework/networking_utils.go
  test/e2e/framework/service_util.go
  test/e2e/framework/util.go
  test/e2e/framework/volume/fixtures.go
  test/e2e/kubectl/portforward.go
  test/e2e/network/kube_proxy.go
  test/e2e/network/service.go
  test/e2e/node/pre_stop.go
  test/e2e_node/image_list.go
  test/utils/image/manifest.go
Due: none

WIP: tests: Replaces images with agnhost
  test/e2e/apps/deployment.go
  test/e2e/apps/network_partition.go
  test/e2e/apps/rc.go
  test/e2e/apps/replica_set.go
  test/e2e/common/util.go
  test/e2e/framework/service_util.go
  test/e2e/framework/util.go
  test/e2e/lifecycle/addon_update.go
  test/e2e/node/events.go
  test/e2e/scalability/load.go
  test/e2e/scheduling/ubernetes_lite.go
  test/e2e/scheduling/ubernetes_lite_volumes.go
  test/e2e/upgrades/apps/daemonsets.go
  test/utils/image/manifest.go
Due: none

fix: make azure disk URI case insensitive
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_managedDiskController.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Due: pull-kubernetes-godeps

kubeadm: Don't use RBAC helpers
  cmd/kubeadm/app/phases/addons/proxy/BUILD
  cmd/kubeadm/app/phases/addons/proxy/proxy.go
  cmd/kubeadm/app/phases/bootstraptoken/clusterinfo/BUILD
  cmd/kubeadm/app/phases/bootstraptoken/clusterinfo/clusterinfo.go
  cmd/kubeadm/app/phases/copycerts/BUILD
  cmd/kubeadm/app/phases/copycerts/copycerts.go
  cmd/kubeadm/app/phases/kubelet/BUILD
  cmd/kubeadm/app/phases/kubelet/config.go
  cmd/kubeadm/app/phases/uploadconfig/BUILD
  cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go
Due: none

kubeadm: Replace ValidateDNS1123Subdomain
  cmd/kubeadm/app/apis/kubeadm/validation/BUILD
  cmd/kubeadm/app/apis/kubeadm/validation/validation.go
Due: none

link scripts in build/README.md
  build/README.md
Due: pull-kubernetes-cross, pull-kubernetes-godeps

Update comments
  pkg/controller/job/job_controller.go
Due: none

Fix nil pointer
  pkg/api/persistentvolumeclaim/util.go
  pkg/api/persistentvolumeclaim/util_test.go
Due: none

kubeadm: Don't use "//pkg/apis/core".Resource helper
  cmd/kubeadm/app/phases/addons/dns/BUILD
  cmd/kubeadm/app/phases/addons/dns/dns_test.go
  cmd/kubeadm/app/phases/addons/proxy/BUILD
  cmd/kubeadm/app/phases/addons/proxy/proxy_test.go
  cmd/kubeadm/app/phases/bootstraptoken/clusterinfo/BUILD
  cmd/kubeadm/app/phases/bootstraptoken/clusterinfo/clusterinfo_test.go
Due: none

Add HEAD fixtures
  staging/src/k8s.io/api/BUILD
  staging/src/k8s.io/api/testdata/HEAD/autoscaling.v2beta2.HorizontalPodAutoscaler.json
  staging/src/k8s.io/api/testdata/HEAD/autoscaling.v2beta2.HorizontalPodAutoscaler.pb
  staging/src/k8s.io/api/testdata/HEAD/autoscaling.v2beta2.HorizontalPodAutoscaler.yaml
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1.Lease.json
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1.Lease.pb
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1.Lease.yaml
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1beta1.Lease.json
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1beta1.Lease.pb
  staging/src/k8s.io/api/testdata/HEAD/coordination.k8s.io.v1beta1.Lease.yaml
  staging/src/k8s.io/api/testdata/HEAD/networking.k8s.io.v1beta1.Ingress.json
  staging/src/k8s.io/api/testdata/HEAD/networking.k8s.io.v1beta1.Ingress.pb
  staging/src/k8s.io/api/testdata/HEAD/networking.k8s.io.v1beta1.Ingress.yaml
  staging/src/k8s.io/api/testdata/HEAD/node.k8s.io.v1alpha1.RuntimeClass.json
  staging/src/k8s.io/api/testdata/HEAD/node.k8s.io.v1alpha1.RuntimeClass.pb
  staging/src/k8s.io/api/testdata/HEAD/node.k8s.io.v1alpha1.RuntimeClass.yaml
  staging/src/k8s.io/api/testdata/HEAD/node.k8s.io.v1beta1.RuntimeClass.json
  staging/src/k8s.io/api/testdata/HEAD/node.k8s.io.v1beta1.RuntimeClass.pb
  staging/src/k8s.io/api/testdata/HEAD/node.k8s.io.v1beta1.RuntimeClass.yaml
Due: pull-kubernetes-godeps

Add missing API groups to compatibility test
  staging/src/k8s.io/api/roundtrip_test.go
Due: pull-kubernetes-godeps
