Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubernetes-cross, pull-kubernetes-godeps

pull-kubernetes-cross:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190110-c23317e88
      args:
      - --job=$(JOB_NAME)
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --service-account=/etc/service-account/service-account.json
  ...

pull-kubernetes-godeps:
  decorate: true
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - name: main
      command:
      - runner.sh
      image: gcr.io/k8s-testimages/kubekins-e2e:v20190110-49573aea5-master
      args:
      - make
      - verify
      securityContext:
  ...

types modifications + conversion + conversion testing
  pkg/apis/core/types.go
  pkg/apis/core/v1/conversion.go
  pkg/apis/core/v1/conversion_test.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/kubectl/describe/versioned/describe.go
  pkg/printers/internalversion/printers.go
  pkg/printers/internalversion/printers_test.go
  pkg/registry/core/pod/storage/storage_test.go
  pkg/registry/core/pod/strategy.go
  pkg/registry/core/pod/strategy_test.go
  pkg/registry/core/service/storage/rest.go
  pkg/registry/core/service/storage/rest_test.go
  staging/src/k8s.io/api/core/v1/types.go
Due: pull-kubernetes-godeps

IPv6DualStack ALPHA feature
  pkg/features/kube_features.go
Due: none

cri types changes
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.proto
Due: pull-kubernetes-godeps

node ipam controller for ipv6 dualstack
  cmd/cloud-controller-manager/app/BUILD
  cmd/kube-controller-manager/app/core.go
  pkg/controller/nodeipam/BUILD
  pkg/controller/nodeipam/ipam/BUILD
  pkg/controller/nodeipam/ipam/cidr_allocator.go
  pkg/controller/nodeipam/ipam/range_allocator.go
  pkg/controller/nodeipam/ipam/range_allocator_test.go
  pkg/controller/nodeipam/node_ipam_controller.go
  pkg/controller/nodeipam/node_ipam_controller_test.go
  pkg/util/node/node.go
  test/integration/ipamperf/ipam_test.go
Due: none

api: dropDisabledFields
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/registry/core/node/strategy.go
  pkg/registry/core/node/strategy_test.go
Due: none

route controller + azure v6 routes
  cmd/cloud-controller-manager/app/core.go
  cmd/kube-controller-manager/app/core.go
  pkg/controller/route/route_controller.go
  pkg/controller/route/route_controller_test.go
  staging/src/k8s.io/cloud-provider/fake/fake.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_backoff.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_fakes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_routes_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmsets.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_routes.go
Due: pull-kubernetes-godeps

pre-calculate InterPodAffinityPriority in metadata to improve performance
  pkg/scheduler/algorithm/predicates/metadata.go
  pkg/scheduler/algorithm/predicates/predicates.go
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
  pkg/scheduler/algorithm/priorities/test_util.go
  pkg/scheduler/algorithm/priorities/types.go
  pkg/scheduler/algorithmprovider/defaults/register_predicates.go
  pkg/scheduler/algorithmprovider/defaults/register_priorities.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/factory/factory.go
  pkg/scheduler/factory/plugins.go
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/interface.go
Due: none

update: calculate final priority score for each node
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
Due: none

update BUILD
  pkg/scheduler/algorithm/predicates/BUILD
  pkg/scheduler/internal/cache/BUILD
Due: none

remove some useless functions, add some comments
  pkg/scheduler/algorithm/predicates/metadata.go
  pkg/scheduler/algorithm/priorities/interpod_affinity.go
  pkg/scheduler/core/generic_scheduler.go
  pkg/scheduler/internal/cache/node_topology_info.go
Due: none

Fix closing of dirs in doSafeMakeDir
  pkg/volume/util/subpath/subpath_linux.go
Due: none

Fix closing of dirs in doSafeMakeDir
  pkg/util/mount/mount_linux.go
Due: none

correct the CHANGELOG-1.15.md
  CHANGELOG-1.15.md
Due: none

update for test
  pkg/scheduler/algorithm/BUILD
  pkg/scheduler/algorithm/predicates/metadata_test.go
  pkg/scheduler/internal/cache/fake/fake_cache.go
  pkg/scheduler/scheduler_test.go
Due: none

add License
  pkg/scheduler/internal/cache/node_topology_info.go
Due: none

kubelet: add allowed sysctl to KubeletConfiguration
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/internal.yaml
  cmd/kubeadm/app/util/config/testdata/conversion/controlplane/v1beta1.yaml
  cmd/kubelet/app/options/options.go
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/helpers_test.go
  pkg/kubelet/apis/config/types.go
  pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  pkg/kubelet/apis/config/zz_generated.deepcopy.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
  staging/src/k8s.io/kubelet/config/v1beta1/zz_generated.deepcopy.go
Due: pull-kubernetes-godeps

RuntimeClass-admission: fixup comment, simplify nested ifs
  plugin/pkg/admission/runtimeclass/admission.go
Due: none

release lib: save release docker tag in tarfile
  build/lib/release.sh
Due: pull-kubernetes-cross, pull-kubernetes-godeps

use klog.Info instead of klog.V(0).Info
  cmd/kube-proxy/app/server_others.go
  cmd/kube-proxy/app/server_windows.go
Due: none

GCP config: vTPM helper LICENSE -> MERGED_LICENSES
  cluster/gce/gci/configure.sh
Due: none

Add a metadata client to client-go that can read PartialObjectMetadata
  staging/src/k8s.io/client-go/BUILD
  staging/src/k8s.io/client-go/metadata/BUILD
  staging/src/k8s.io/client-go/metadata/interface.go
  staging/src/k8s.io/client-go/metadata/metadata.go
  staging/src/k8s.io/client-go/metadata/metadata_test.go
  test/integration/apiserver/BUILD
  test/integration/apiserver/apiserver_test.go
  vendor/modules.txt
Due: pull-kubernetes-godeps

kubenet for ipv6 dualstack
  pkg/kubelet/config/common_test.go
  pkg/kubelet/container/runtime.go
  pkg/kubelet/dockershim/docker_sandbox.go
  pkg/kubelet/dockershim/docker_sandbox_test.go
  pkg/kubelet/dockershim/helpers_linux.go
  pkg/kubelet/dockershim/helpers_unsupported.go
  pkg/kubelet/dockershim/helpers_windows.go
  pkg/kubelet/dockershim/network/BUILD
  pkg/kubelet/dockershim/network/cni/cni_others.go
  pkg/kubelet/dockershim/network/kubenet/BUILD
  pkg/kubelet/dockershim/network/kubenet/kubenet_linux.go
  pkg/kubelet/dockershim/network/kubenet/kubenet_linux_test.go
  pkg/kubelet/dockershim/network/plugins.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/kubelet_node_status_test.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager_test.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  pkg/kubelet/lifecycle/handlers.go
  pkg/kubelet/pleg/generic.go
  pkg/kubelet/pleg/generic_test.go
  pkg/util/node/node.go
  staging/src/k8s.io/cri-api/pkg/apis/testing/fake_runtime_service.go
Due: pull-kubernetes-godeps

updated publishing rules
  staging/publishing/import-restrictions.yaml
  staging/publishing/rules.yaml
Due: pull-kubernetes-godeps

Hack PatchNodeStatus() to override the patch type on Status.Addresses
  pkg/kubelet/kubelet_node_status_test.go
  pkg/util/node/BUILD
  pkg/util/node/node.go
Due: none

Create a service account Getter when TokenRequest is enabled
  cmd/kube-apiserver/app/BUILD
  cmd/kube-apiserver/app/server.go
Due: none

kubeadm: run MemberAdd/Remove for etcd clients with exp-backoff retry
  cmd/kubeadm/app/util/etcd/BUILD
  cmd/kubeadm/app/util/etcd/etcd.go
Due: none

test only
  README.md
Due: none

Add IndexerInformerWatcher to watch limitRange creation
  test/e2e/scheduling/BUILD
  test/e2e/scheduling/limit_range.go
Due: none

Pass desiredPods to CleanupPods
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/pod_workers.go
  pkg/kubelet/pod_workers_test.go
  pkg/kubelet/prober/BUILD
  pkg/kubelet/prober/prober_manager.go
  pkg/kubelet/prober/prober_manager_test.go
  pkg/kubelet/prober/testing/BUILD
  pkg/kubelet/prober/testing/fake_manager.go
Due: none

Use ExpectEqual under e2e/apimachinery
  test/e2e/apimachinery/chunking.go
  test/e2e/apimachinery/namespace.go
  test/e2e/apimachinery/resource_quota.go
  test/e2e/apimachinery/table_conversion.go
Due: none

call unreserve plugin before record event
  pkg/scheduler/scheduler.go
Due: none

Updated client-go expiration cache to take in expiration policies
  staging/src/k8s.io/client-go/tools/cache/expiration_cache.go
  staging/src/k8s.io/client-go/tools/cache/expiration_cache_fakes.go
  staging/src/k8s.io/client-go/tools/cache/expiration_cache_test.go
Due: pull-kubernetes-godeps

Remove aws cred provider dep on cloud provider
  pkg/cloudprovider/providers/aws/regions.go
Due: none

Credential provider Provide takes image (general)
  pkg/credentialprovider/keyring.go
  pkg/credentialprovider/keyring_test.go
  pkg/credentialprovider/provider.go
  pkg/credentialprovider/provider_test.go
  pkg/kubelet/dockershim/helpers.go
  pkg/kubelet/kuberuntime/kuberuntime_image.go
Due: none

Path conditions:
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-godeps: any of: ^((build\/|Godeps\/|vendor\/|hack\/lib\/|hack\/.*godep|staging\/).*)$
